<section class="logos-block">
    <ul>
        <li>
            <a href="#">
                <figure>
                    <img src="~/Content/Images/UFAS.png">
                </figure>
            </a>
        </li>
        <li>
            <a href="#">
                <figure>
                    <img src="~/Content/Images/FEMAS.png">
                </figure>
            </a>
        </li>
        <li>
            <a href="#">
                <figure>
                    <img src="~/Content/Images/Image%202.png">
                </figure>
            </a>
        </li>
        <li>
            <a href="#">
                <figure>
                    <img src="~/Content/Images/Image%203.png">
                </figure>
            </a>
        </li>
        <li>
            <a href="#">
                <figure>
                    <img src="~/Content/Images/logos-FAR.png">
                </figure>
            </a>
        </li>
    </ul>
</section>