@{
    ViewBag.Title = HtmlLocalizer["Oops! Page not found..."].Value;
    ViewData["PageClass"] = "inverted";
}

<div class="d-flex justify-content-center" style="margin-top:100px ;">
    <div class="mx-auto my-auto">
        <img class="" alt="Page not found" src="~/Content/Images/404.png" width="100%">
    </div>
</div>
