@using DancingGoat.Models

@model ProductListViewModel

@{
    ViewData["PageClass"] = "inverted";
}

<section class="page-header-block">
    <figure>
        <img src="~/Content/Images/inner-page-header.png">
    </figure>
    <div class="content">
        <h2>Feeds</h2>
    </div>
</section>

<section class="shop-block">
    <div class="intro">
        <h3>HOME / OUR FEEDS</h3>
        <p>At KW we lead the development of alternative feeding in the UK, making it the natural choice on high
            performance livestock farms.</p>
    </div>
    <div class="shop-container">

        <div class="shop-filters">
            <partial name="Filter" model="@Model.Filter" />
        </div>
        <div class="product-list">
            <partial name="ProductsList" model="Model.Items" />
        </div>

    </div>
</section>





<section class="form-block background-accent-1">
    <div class="content">
        <h2>Contact Us Today</h2>
        <p>Use the contact form below to get in touch if you have any question or need some help about our company or
            products.</p>
    </div>
    <form id="form-1581" action="https://trulycontent.com/hollpartitions/contact/" method="post" class="form-1581">
        <p class="half input">
            <input type="text" name="full_name" id="contact-name" placeholder="&nbsp;" required="">
            <label for="contact-name">Your Full Name*</label>
        </p>

        <p class="half input">
            <input type="email" name="email" id="contact-email" placeholder="&nbsp;" required="">
            <label for="contact-email">Your Email*</label>
        </p>
        <p class="half input">
            <input type="tel" name="phone" id="contact-phone" placeholder="&nbsp;">
            <label for="contact-phone">Your Phone Number</label>
        </p>
        <p class="half select">
            <select name="appointment_date" id="date" class="date" required="">
                <option disabled="" hidden="" selected="">Enquiry Type</option>
                <option value="2024-04-23">Test</option>
                <option value="2024-04-24">Test</option>
                <option value="2024-04-25">Test</option>
                <option value="2024-04-26">Test</option>
                <option value="2024-04-27">Test</option>
            </select>
        </p>
        <p class="full input">
            <textarea name="message" id="contact-query" placeholder="&nbsp;"></textarea>
            <label for="contact-query">Write your message</label>
        </p>
        <input type="hidden" name="form_id" value="1581">
        <div class="submit full">
            <button type="submit">SUBMIT</button>
            <input id="recaptcha-token" type="hidden" name="token" value="">
        </div>
    </form>
</section>

<partial name="~/Views/Shared/_LogoSection.cshtml" />

@section Scripts {
    <script src="~/Scripts/formAutoPost.js"></script>

    <script>
        formAutoPost({ targetContainerSelector: "#product-list" });
    </script>
}