@using DancingGoat.Models

@model IEnumerable<ProductListItemViewModel>

<div class="product-list">
@if (Model.Any())
{
    
   <ul>
     @foreach (var product in Model)
    {
        
            @Html.DisplayFor(m => product, "ProductListItem")
        


    }
   </ul>
    <div class="pagination">
                <p>SHOWING @Model.Count()/@Model.Count() Products</p>
                <a href="single-product.html" target="" role="button">Show More</a>
            </div>
}
else
{
    <span class="ContentLabel">@HtmlLocalizer["No matching products."]</span>
}



 
                    
                      